.body {
background-repeat: no-repeat, no-repeat, no-repeat;
background-position: bottom, right, left, right;
background:linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

.hiddenRobot {
  animation-name:hiddenBot;
  animation-duration:500ms;
}

@keyframes hiddenBot {
  50% {
    transform:translateX 200px;
  }
  80% {
   display:none;
  }
}

.fondo_mar {
  background-repeat:no-repeat;
  background-position:top;
  background-image:url("../image/estrecho-de-gibraltar-de-la-costa-de-océano-atlántico-marruecos-43174267.jpg");
  background-size:1200px 1210px;
}

.fondo-image {
  background-image:url(../image/Screenshot_2019-07-09-09-39-10.png);
  background-repeat:no-repeat;
  background-position:center;
  background-color:black;
}

.blanco {
  color:white;
}

.multiBg {
background:rgba(220, 200, 100, .9)
}

.modal-btn {
  text-align: center;
  padding: .6em .8em .8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}
.modal-btn.primary {
  background: #7dc800;
}  /*dark bleder*/

.modal-btn:active {
  transform: scale(.9);
}

.btn-block  {
  border-radius:23px;
/* background-color: #dc3545;*/
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, right, left, right;
  background:linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  color:white;
  padding:10px;
  margin-bottom:3px;
  border-color:purple;
}

.btn-block:hover {
  background:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(30, 75, 115, 1));
}

.centrado {
  display:flex;
  align-items:center;
  justify-content:center;
}

 .bordeiz {
  border-left:7px solid blue;
}

.dobleborder {
 border-left:4px solid blue;
 border-bottom:4px solid blue;
 display:inline-block;
}

.lista {
  list-style:decimal-leading-zero;
}

.borde {
 border:4px solid blue;
}

.aside {
  padding-top:7px;
  }

.shadown {
  box-shadow:0 0 5px #000;
}

.shadown:hover {
  background:red;
  box-shadow:none;
  width:50%;
  font-size:14px;
  height:auto;
}

.bg-w {
  background-color:white;
}

.w-automatico {
  width:auto;
  margin:0 auto;
}

.direccion {
  vertical-align:middle;
}

.hidden-phone {
  margin:0;
  margin-left:60px
}

.platon {
  position:fixed;
  z-index:7;
  right:0;
  top:80px;
}

.center-img {
  display:none;
}

@media screen and (max-width:498px) {
.dobleborder {
  display:block;
}

.hidden-phone  {
  display: none
}

.center-img {
  display:block;
  width:100;
  margin-left:0;
}

.shadown:hover {
  background:red;
  box-shadow:none;
  width:80%;
  font-size:14px;
  height:auto;
}

.w-automatico {
  width:90%;
  margin:1em auto 
}

}